:root {
  --theme-color-lighter-a: rgb(192, 192, 192, 0.2);
  --theme-color-lighter: #c0c0c0;
  --theme-color-light: #485c5e;
  --theme-color-dark: #25484C;
  --theme-color-darker: #153c40;
  --theme-color-contrast: #FFFFFF; /* 对比色，通常用于文本或按钮 */
  --theme-font-family: 'Arial, sans-serif'; /* 默认字体 */
  --theme-color-page: #e6e5d8; /* 页面背景色 */

  --theme-color-execute-button: #25484C;
  --theme-color-execute-button-hover: #1e393c;
  --theme-color-execute-button-active: #374c4f;

  --theme-color-input-readonly: rgba(0,0,0, 0.1);
  --theme-color-table-header-bg: var(--theme-color-light); /* 表格头部背景色 */
  --theme-color-table-header-text: white; /* 表格头部文字颜色 */
}